<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}    + ' Bikes' ">Default Title</h1>

<!-- This displays all the routes you can go, update the navigation in the fragments html-->


<a href="/bike/add"><h2>Add a Bike</h2></a>

<h2>Bikes</h2>
<!--This will list all the bikes of a specific user.-->
<ul th:each="bike: ${bikes}">
    <a href="/bike/main"><li th:text="${bike.nameOfBike}" th:value="bike.id"></li></a>
</ul>



</body>
</html>