<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<!--background image-->
<!--"/images/bike_index.jpeg"-->


<!--Contains the images as well as the link to add new bikes-->
<div class="container">
    <img class="img-fluid rounded mx-auto d-block imgSize" src="images/bike_index.jpeg"/>
    <!--Stock photo for user bikes-->
    <div class="row">
        <div class="col">
            <h3 class="text-left text-center" th:text="${#strings.capitalize(title)}">Default Title</h3>
        </div>
        <div class="col">
            <h3 class="text-right text-center">Upcoming Maintenance</h3>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-hover ">
            <tbody th:each="bike: ${bikes}">
            <tr>
                <td>
                    <a th:href="@{'/bike/main/' + ${bike.id}}" th:text="${#strings.capitalize(bike.nameOfBike)}"></a>
                    <span th:unless="${bike.needsMaintenance == false}" class="badge badge-warning">Maintenance Needed!</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>