<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<!--background image-->
<!--"/images/bike_index.jpeg"-->
<!--Contains the images as well as the link to add new bikes-->
<div class="container">
    <img class="img-fluid rounded mx-auto d-block imgSize" src="images/bike_index.jpeg"/>
    <!--Stock photo for user bikes-->
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-left" th:text="${#strings.capitalize(title)}">Default Title</h3>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-hover ">
            <tbody th:each="bike: ${bikes}">
            <tr>
                <td>
                    <a th:href="@{'/bike/main/' + ${bike.id}}" th:text="${#strings.capitalize(bike.nameOfBike)}"></a>
                    <span th:if="${bike.LowestInterval.milesRemaining &lt;= 10}" class="badge badge-danger">Maintenance Needed!</span>
                    <span th:if="${bike.LowestInterval.milesRemaining &lt; 25
                     and bike.LowestInterval.milesRemaining &gt; 10}"
                          class="badge badge-warning">Maintenance needed soon!</span>
                    <span th:if="${bike.LowestInterval.milesRemaining &gt; 25}"
                          class="badge badge-success">No maintenance needed</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="text-left" href="/bike/add"><h3>Add Bike </h3></a>
    
<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>