<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<!--Displays the name of the user-->
<h1 class="text-center" th:text="${#strings.capitalize(title)}">Default Title</h1>
<!--Displays the total amount of miles-->
<p class="text-center" th:text="'Total Miles Ridden on current bike: ' + ${totalTraveled}"></p>
<!--Displays the components-->
<h2>Components:</h2>


<!--Table displays each component in a "card" by iterating through the list of components and displaying
    the even indexes in the first row and the odd indexes in the second row-->
    <table class="table">
        <tbody>
        <tr>
            <th:block th:each="component : ${bike.components}">
            <td th:if="${componentStat.even}">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" th:src="${component.image}" alt="Component Image" />
                    <div class="card-block">
                        <a th:href="@{'/component/component-detail/' + ${component.id}}" >
                            <h4 class="card-title" th:text="${component.type.name}"></h4></a>
                        <th:block th:each="minterval : ${component.maintenanceSchedule.intervals}">
                            <span th:if="${minterval.isDue() == true}" class="badge badge-warning">
                                Maintenance Needed!</span>
                        </th:block>
                    <a th:href="@{'/component/component-detail/' + ${component.id}}"
                       class="btn btn-success">Maintenance Page</a>
                </div>
            </div>
            </td>
            </th:block>
        </tr>

        <tr>
            <th:block th:each="component : ${bike.components}">
                <td th:if="${componentStat.odd}">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" th:src="${component.image}" alt="Card image cap" />
                            <div class="card-block">
                                <a th:href="@{'/component/component-detail/' + ${component.id}}" >
                                <h4 class="card-title" th:text="${component.type.name}"></h4></a>
                                <th:block th:each="minterval : ${component.maintenanceSchedule.intervals}">
                                    <span th:if="${minterval.isDue() == true}" class="badge badge-warning">
                                    Maintenance Needed!</span>
                                </th:block>
                            <a th:href="@{'/component/component-detail/' + ${component.id}}"  class="btn btn-success">
                                Maintenance Page</a>
                        </div>
                    </div>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>

<p></p> <!-- put space above Add link -->
<p></p> <!-- put space above Add link -->
<h2><a th:href="@{'/component/add-component/' + ${bike.id}}">Add another component</a></h2>

<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>