<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<!--Displays the name of the user-->
<h1 class="text-center" th:text="${#strings.capitalize(title)}">Default Title</h1>
<!--Displays the total amount of miles-->
<p class="text-center" th:text="'Total Miles Ridden on current bike: ' + ${totalTraveled}"></p>
<!--Displays the components-->
<h2>Components:</h2>

<th:block th:each="component : ${bike.components}">
    <h2 th:text="${component.type.name}"></h2>
    <th:block th:each="minterval : ${component.maintenanceSchedule.intervals}">
        <p th:text="${minterval.instructions}"></p>
        <span th:if="${minterval.isDue() == true}">Maintenance Needed!</span>

    </th:block>
</th:block>

<h2><a th:href="@{'/component/add-component/' + ${bike.id}}">Add another component</a></h2>


</body>
</html>