<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 class="text-center" th:text="${#strings.capitalize(title)}">Default Title</h1>

<div class="jumbotron">
    <h1 class="display-3" th:text="${component.type.name}"></h1>

    <p class="lead"
       th:text="'Miles until next maintenance needed: ' + ${component.lowestMaintInterval.milesRemaining}"></p>
    <hr class="my-4" />
    <p th:text="'Next maintenance needed: ' + ${component.lowestMaintInterval.instructions}"></p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/dmOzeFItkd8?rel=0" frameborder="0"></iframe>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Perform Maintenance</a>
    </p>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>