<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<h1 class="text-center" th:text="${#strings.capitalize(title)}">Default Title</h1>

<div class="jumbotron">
    <h1 class="display-3" th:text="${component.type.name}"></h1>

    <!--When maintenance is overdue show this-->
    <div th:if="${component.lowestMaintInterval.milesRemaining} &lt; 0">
        <p class="lead" th:id="'textFor'+${component.maintenanceSchedule.id}"
           th:text="'Maintenance overdue by  ' + ${component.lowestMaintInterval.milesRemaining} * -1 + ' miles!'">
        </p>
    </div>

    <!--When maintenance is not due yet show this-->
    <div th:unless="${component.lowestMaintInterval.milesRemaining} &lt; 0">
        <p class="lead" th:id="'textFor'+${component.maintenanceSchedule.id}"
           th:text="'Miles until next maintenance needed: ' + ${component.lowestMaintInterval.milesRemaining}"></p>
    </div>

    <hr class="my-4" />
    <p th:text="'Next maintenance needed: ' + ${component.lowestMaintInterval.instructions}"></p>

    <p class="lead">
        <button th:id="${component.maintenanceSchedule.id}" class="btn btn-primary btn-lg" href="#" role="button">Maintenance Complete</button>
        Click to let us know you've performed this maintenance
    </p>


                <!--<div class="col-sm-4">-->
                    <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" th:src="${component.lowestMaintInterval.video}" frameborder="0"></iframe>
                    </div>
                <!--</div>-->

</div>

<footer th:replace="fragments :: footer"></footer>
</div>

<script type="text/javascript" language="javascript">
    $("button").click(function(e) {
        //Build url with ID of the maintenanceSchedule we want
        var url = "/maintreset/" + this.id;
        //$(this).css('color', 'blue');
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", url, true);
        xhttp.send();
        $("#textFor" + this.id).text("Maintenance Complete!");
    });
</script>

<script>
    $(".btn").click(function(){
        $(this).removeClass('btn-primary');
        $(this).prop('disabled', true);
        $(this).addClass('btn-success');
        $(this).text("Got it!");
    });
</script>



</body>
</html>