<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<!-- This displays all the routes you can go, update the navigation in the fragments html-->


<a href="/component/add"><h2>Add Component</h2></a>

<!--TODO display all the components already on the bike-->

<ul th:each="component: ${components}">
    <li th:text="${component.ComponentName}"></li>
    <li th:text="${component.milesTraveled}"></li>
</ul>


</body>
</html>