<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<h1 th:text="${title}">Default Title</h1>

<!-- This displays all the routes you can go, update the navigation in the fragments html-->


<a href="/component/add"><h2>Add Component</h2></a>

<ul th:each="component: ${components}">
    <li th:text="${component.name}"></li>
    <li th:text="${component.milesTraveled}"></li>
</ul>
    <footer th:replace="fragments :: footer"></footer>
</div>
</body>

</html>