<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>


<form method="post"  th:object="${user}">
    <div class="form-group">
        <input class="form-control" placeholder="Username" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
        <span th:text="${nameError}"></span>
    </div>

    <div class="form-group">
        <input class="form-control" placeholder="Password" type="password"  th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <div class="form-group">
        <input class="form-control" placeholder="Confirm Password" type="password" name="verifyPassword" id="verifyPassword" />
        <span th:text="${passwordError}"></span>
    </div>

    <div class="form-group">
        <input class="form-control" placeholder="Email Address" th:type="email" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Account</button>
</form>
</body>
</html>