<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">

    <h1 class="text-center" th:text="${#strings.capitalize(title)}">Default Title</h1>

    <img class="img-thumbnail upload" th:src="${user.image}" alt="User Image" />

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <h2>Upload new Picture</h2>
    <div>
        <form method="POST" enctype="multipart/form-data" action="/upload/userImage">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>