<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">

    <h1 class="text-center" th:text="${#strings.capitalize(title)}">Default Title</h1>
    <img class="img-thumbnail upload" th:src="${user.image}" alt="User Image" />

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal">Change Image</button>

    <footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>

<!--image modal-->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Update User Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" action="/upload/userImage">
            <table>
                <tr><td>File to upload:</td><td><input class="btn btn-primary" type="file" name="file" /></td></tr>
                <!--<tr><td></td><td><input type="submit" value="Upload" /></td></tr>-->
            </table>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Change User Image" />
                </div>
            </form>
        </div>
    </div>
</div>
<!--image modal end-->