<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!--Main Navigation-->
<header>
    <nav th:replace="fragments :: navigation"></nav>

    <!--Mask-->
    <div  id="intro" class="view">

        <div class="full-bg-img d-flex align-items-center">
            <div class="container loginPage">
                <div class="row">
                    <div class="col-md-8">
                        <!--Start of the carousel item 1-->
                        <div id="bikeMainLogin" class="carousel slide row item logInCarousel" data-ride="carousel"  data-interval="3000">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="text-center">
                                        <img class="rounded mx-auto d-block img-fluid" src="/images/Login_Slide_001.jpg" alt="First slide"/>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Manage your bikes</h3>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="text-center">
                                        <img class="rounded mx-auto d-block img-fluid" src="/images/Login_Slide_002.jpg" alt="Second slide"/>
                                    </div>

                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Get maintenance notifications</h3>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="text-center">
                                        <img class="rounded mx-auto d-block img-fluid" src="/images/Login_Slide_003.jpg" alt="Third slide"/>
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Track your rides</h3>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#bikeMainLogin" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#bikeMainLogin" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                    <!--End of the large div-->
                    <!--Start of the sign up-->
                    <div class="col-md-4">
                        <div class="loginBox">
                            <form method="post"  th:object="${user}">
                                <!--change color to -->
                                <h1 style="color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" class="text-center" th:text="${title}">Default Title</h1>

                                <div class="form-group icon-addon addon-lg" >
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input class="form-control" placeholder="Username" th:field="*{name}" />
                                    <span th:errors="*{name}" class="error"></span>
                                    <span class="text-white" th:text="${usererror}"></span>
                                </div>

                                <div class="form-group icon-addon addon-lg">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <input class="form-control" placeholder="Password" type="password" th:field="*{password}" />
                                    <span th:errors="*{password}" class="error"></span>
                                    <span class="text-white" th:text="${passworderror}"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Log In</button>
                                <p class="text-center"><a class="text-white" href="/user/add">create account</a></p>
                            </form>
                        </div>
                    </div>
                    <!--End of the item container-->
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->

    <!--This repeats what is on the About page.
        Some explanation probably should be on the login page,
        but this is not coming across the right way.
    <div class="container">
        <div class="about-content">

            <h3>About Bike Maintenance Tracker</h3>
            <p>Bike Maintenance Tracker keeps track of your bicycle maintenance, based on how many miles you ride.
                It will import your mileage automatically from the ride-tracking app
                <a href="https://www.strava.com">Strava</a>, or you can simply enter your miles directly into the app after every ride.</p>

        </div>
    </div>
    -->

    <!--Profile images. Moving to the About page.

    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                    <img class="img-thumbnail" src="/images/profile_image.jpg"/>
                    <div class="caption">
                        <h5 class="text-center">Michael Alarcon</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">

                    <img class="img-thumbnail" src="/images/profile_image.jpg"/>
                    <div class="caption">
                        <h5 class="text-center">Avery Pierce VanKirk</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                    <img class="img-thumbnail" src="/images/kevin_profile_BAK.jpg"/>
                    <div class="caption">
                        <h5 class="text-center">Kevin Tam</h5>
                    </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                    <img class="img-thumbnail" src="/images/profile_image.jpg"/>
                    <div class="caption">
                        <h5 class="text-center">Timothy Adams</h5>
                    </div>
            </div>
        </div>

    </div>
    </div>
    -->


<!--Main Navigation-->

<!--Main layout-->
<main>


</main>
<!--Main layout-->
</header>
<!--Footer-->
<footer>

</footer>
<!--Footer-->

</body>
</html>