<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>


<a href="ride/add"><h2>Add a Ride</h2></a>

<table class="table">
    <thead>

    <tr>
        <th>#</th>
        <th>Bike Used</th>
        <th>Miles</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="ride,i : ${rides}">
        <tr>
            <th scope="row" th:text="${i.count}">-1</th>
            <td th:text="${ride.bike.nameOfBike}"></td>
            <td th:text="${ride.miles}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>