<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<h1 th:text="${#strings.capitalize(title)}">Default Title</h1>


<a href="/ride/add"><h2>Add a Ride</h2></a>

<table class="table table-hover">
    <thead>

    <tr>
        <th>#</th>
        <th>Bike Used</th>
        <th>Miles</th>
        <th>Remove Ride</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="ride,i : ${rides}">
        <tr>
            <th scope="row" th:text="${i.count}">-1</th>
            <td th:text="${ride.bike.nameOfBike}"></td>
            <td th:text="${ride.miles}"></td>
            <td>
                <a th:href="@{'/ride/delete/' + ${ride.id}}">
                <i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<footer th:replace="fragments :: footer"></footer>
</div>
</body>
</html>