<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>


<div class="container">
    <img class="img-fluid rounded mx-auto d-block imgSize" src="images/bike_index.jpeg"/>
    <h3>About Bike Maintenance Tracker</h3>

    <p>
        Your bicycle's components need periodic maintenance. Whether that's just a quick tightening, lubrication, or complete replacement, Bike Maintenance Tracker will keep track of all those intervals, based on how many miles you ride.

        If you use the ride-tracking app Strava, Bike Maintenance Tracker can import your mileage automatically. Or you can simply enter your miles directly into the app after every ride.</p>


    <br/>
    <h3>About Us</h3>
    <br/>
        <p>We are four developers in the Portland, Oregon area.
            <br/>
        <br/>Michael Alarcon
            <br/>
        Kevin Tam
            <br/>
        Avery Van Kirk
            <br/>
        Timothy Adams
            <br/>
        </p>


    <footer th:replace="fragments :: footer"></footer>
</div>

</body>
</html>